.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-family: $fontFamily2;
    background-image: url(../recursos/imagenes/background.jpg);
    background-size: cover;
    
  }
  .padding{
    padding: 25px;
    grid-area: header;
  
  }

@media only screen and (min-width: 1100px)
 {

    .iframe{
      display: block;
      text-align: center;
      grid-area: iframe;
      padding-top: 55px;
    }
} 
@media only screen and (max-width: 1099px)
{

   .iframe{
     display: none;
     text-align: center;
     grid-area: iframe;
     padding-top: 55px;
   }
} 
  .textoGeneral{
    text-decoration: none;
    text-align: left;
  } 
  