.flexNosotros{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    padding-left: 15px;
    justify-content: center;
    
}

  .tituloNosotros{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 50px;
    letter-spacing: 1px;
    font-family: $fontFamily1;
    grid-area: texto;
    padding: 15px;

  }
@media only screen and (min-width: 1100px){
  .kibita{
    width: 450px;
    grid-area: kibita;
    background-image: url(../recursos/imagenes/kibita.JPG);
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 1100px){
  .kibita{
  display: none; 
 }
}
@media only screen and (max-width: 1100px){
  .kibita2{
  width: 450px;
  }
}
@media only screen and (min-width: 1101px){
  .kibita2{
  display: none;
  }
}

